*body{
    margin: 0;
    padding: 0;
}

.myForm{
    margin-left:100px;
    padding-top:0px ;
 size: 5px;
}



.logo{
    background-color: blue;
    height: 70px;
    width: 100%;
    padding-left: 70px;
    padding-top: 10 px;
    
    margin: 10px;
}

ul{
    float:right;
    color: white;
    display:flex;
    margin-right: 100px;
    justify-content: space-between;
    padding-right: 100px;
list-style: none;
}

ul,a{
    color: white;
}

*img{
    height:60px;
    width: 40px;
    align-items: center;
}

.foot{
    margin-left: 20px;
    font-size: 15px;
    text-align: center;
    background-color: rgb(248, 246, 244);
    opacity: 50%;

}

@media(max-width:998px){
html{
    font-size: 40%;
}
}

@media(max-width:375px){
    html{
        font-size: 40%;
    }
}